.collapsible {
  border-radius: 10px;
  background-color: $lightGray;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: $mainBlue;
}

.collapsible:hover {
  background-color: gray;
  color: white;
}
