.site-footer {
  background-color: $mainBlue;
  color: White;
  padding: 0.5rem 0;
  text-align: center;

  &__text {
    display: block;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 0.75rem;

    @mixin atMedium {
      display: inline;
      padding-bottom: 0;
      font-weight: 200;
      font-size: 1rem;
    }
  }
}
