.box-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  margin: auto 80px auto 80px; */
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @mixin atMedium {
    width: 80%;
  }


  &__package {
    position: relative;
    display: inline-block;
    margin: 1.5rem;
  }

  &__title {
    position: relative;
    /* height: 45px; */
    font-weight: 600;
    font-family: "Lato", "Tahoma", "Gill Sans MT";
    color: rgba($darkBlue, 0.65);
    margin: 0;
    max-width: 250px;
    text-align: center;

    a {
      text-decoration: none;
    }

    a:visited {
      color: $darkBlue;
    }

    a:hover {
      color: $beeYellow;
    }
  }

  &__box {
    position: relative;
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    border: 3px solid $lightGray;
    overflow: hidden;
  }

  /* &__box:last-child {
    margin-right: -10px;
  } */

  &__box:hover .box-container__img {
    opacity: 0.5;
    transform: scale(1.2);
    transition: opacity 2s, transform 2s;
  }

  /* &__details {
    position: absolute;
    border-radius: 15px;
    transform: scaleY(0);
    transition: transform .5s;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: rgba($water, 0.8);
  } */

  &__box:hover .box-container__content {
    transform: scaleY(1);
  }

  &__content {
    position: absolute;
    border-radius: 1rem;
    transform: scaleY(0);
    transition: transform .5s;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: rgba($water, 0.8);


    /* position: relative; */
    width: 92%;
    height: 92%;
    /* margin: 0; */
    padding: 10px;
    text-align: center;

    h4 {
      color: $beeYellow;
      margin: 0;
    }

    p {
      font-size: 0.9rem;
      text-align: left;
      text-justify: inter-word;
    }

    a {
      position: absolute;
      margin: auto;
      bottom: 20px;
      right: 70px;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}
