.btn {
  display: inline-block;
  border-radius: 5px;
  background-color: $blueGreen;
  color: White;
  text-decoration: none;
  padding: .75rem 1rem;

  &__email {
    border: none;
    color: lightblue;
    background: none;
  }
}
