.grid {
  display: grid;
  padding-top: 6rem;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 6rem;

  @mixin atMedium {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 6rem;
  }

  &__item {
    order: -1;
  }
}
