.main-top {
  position: relative;

  &__overlay {
    display: block;
    position: relative;
    background-color: $mainBlue;
  }

  &__image {
    display: block;
    opacity: 0.25;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-family: "Georgia", serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: White;

    @mixin atSmall {
      font-size: 2.25rem;
    }

    @mixin atMedium {
      font-size: 3rem;
    }

    @mixin atLarge {
      font-size: 4rem;
    }
  }

  &__description {
    margin: 0;
    font-weight: 150;
    font-size: 1rem;
    color: White;


    @mixin atSmall {
      font-weight: 200;
      font-size: 1.25rem;
    }

    @mixin atMedium {
      font-weight: 250;
      font-size: 1.5rem;
    }

    @mixin atLarge {
      font-weight: 300;
      font-size: 2rem;
    }
  }
}
