.paragraph {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 3rem;

  h2, h5 {
    text-align: center;
  }

  hr {
    border: 1px solid lightGray;
  }

  p {
    font-size: 1rem;

    @mixin atMedium {
      font-size: 1.25rem;
    }
  }

  a {
    text-decoration: none;
    color: $mainBlue;
  }

  a:hover {
    color: lightblue;
  }

  ol, ul > * {
    font-size: 1rem;
    line-height: 130%;
    text-align: left;

    @mixin atMedium {
      font-size: 1.25rem;
    }
  }

  li > a {
    font-weight: 600;
  }

  p > br {
    line-height: 180%;
  }

  img {
    display: block;
    margin: auto;
  }

  @mixin atMedium {
    font-size: 1.3rem;
  }

  @mixin atLarge {
    font-size: 1.5rem;
  }

  &__code {
    display: none;
  }
}
