.primary-nav {
  text-align: center;
  /* &__pull-right--medium {
    @mixin atMedium {
      float: right;
    }
  } */

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding-right: 20px;
  }

  li:last-child {
    margin-right: -20px;

    /* @mixin atMedium {
      margin-right: 0;
    } */
  }

  a {
    display: block;
    text-decoration: none;
    color: White;
    padding-top: 8px;
    font-weight: 150;
    font-size: 0.6rem;

    &.is-current-link {
      color: $beeYellow;
    }

    @mixin atSmall {
      padding-top: 14px;
      font-size: 0.7rem;
    }

    @mixin atMedium {
      padding-top: 16px;
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}
