.site-footer {
  background-color: $mainBlue;
  color: White;
  padding: 0.5rem 0;
  text-align: center;

  &__text {
    display: block;
    padding-bottom: 1rem;
    font-weight: 100;

    @mixin atMedium {
      display: inline;
      padding-bottom: 0;
      font-weight: 200;
      margin-right: 1.25rem;
    }
  }
}
