.site-header {
  position: fixed;
  width: 100%;
  height: 27px;
  z-index: 2;
  background-color: rgba($blueGreen, 0.45);

  @mixin atSmall {
    height: 40px;
  }

  @mixin atMedium {
    height: 55px;
  }

  &__contact-btn {
    display: none;

    @mixin atMedium {
      display: block;
      float: right;

      a {
        display: block;
        padding-top: 16px;
        text-decoration: none;
      }
    }
  }

  &--dark {
    background-color: rgba($blueGreen, 0.85);
  }
}
