.split {
  box-sizing: border-box;

  &__column-2 {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    ul > li {
      margin-bottom: 7px;
    }

    @mixin atMedium {
      width: 50%;
    }
  }

  &__column-3 {
    float: left;
    width: 100%;
    padding-left: 10%;

    @mixin atSmall {
      padding-left: 5%;
      width: 33.3%;
    }
  }

  &__column-picture {
    text-align: center;
  }
  /* display: flex;
  padding-left: 10px;
  padding-right: 10px;

  &__column {
    flex: -50%;
    @mixin atLarge {
      flex: 50%;
    }
  } */
}
