.table {
  overflow: auto;
  font-size: 1rem;

  @mixin atMedium {
    font-size: inherit;
  }

  table {
    width: 80%;
    border-collapse: collapse;
    font-size: 1rem;
    margin: 0px auto;
  }

  td, th {
    border: 1px solid;
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: lightGray;
  }

  tr:hover {
    background-color: lightblue;
  }
}
