.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: $darkGray;

    @mixin atMedium {
      font-size: 2rem;
    }

    @mixin atLarge {
      font-size: 2.75rem;
    }
  }

  &__line {
    border: none;
    background-color: $darkBlue;
    height: 3px;
    width: 25%;

    @mixin atMedium {
      height: 5px;
    }
  }

  &__line-section {
    border: none;
    background-color: $mainBlue;
    height: 3px;
    margin-bottom: 20px;
    width: 10%;
    margin-top: 0.75rem;

    @mixin atMedium {
      height: 5px;
      margin-top: 1.5rem;
    }
  }
}
